services:
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower_test
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_POLL_INTERVAL: "60"
      WATCHTOWER_CLEANUP: "true"
    restart: always