---
- name: Ensure docker-compose directory exists
  ansible.builtin.file:
    path: "{{ docker_compose_dir }}"
    state: directory

- name: Write docker-compose.yml from template
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ docker_compose_dir }}/docker-compose.yml"
  when: docker_compose_state in ['present', 'restarted'] and docker_compose_file is defined

- name: Manage docker compose project
  community.docker.docker_compose_v2:
    project_src: "{{ docker_compose_dir }}"

    state: "{{ docker_compose_state }}"
    recreate: always
    remove_orphans: false

- name: Remove compose directory when absent
  ansible.builtin.file:
    path: "{{ docker_compose_dir }}"
    state: absent
  when: docker_compose_state == "absent"